@import url(https://db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse+Bold);

.container{
display: flex;
flex-direction: column;
align-items: stretch;
background-image: url(photo-1585202900225-6d3ac20a6962.avif);
background-size: cover;
background-color: #cccccc;
height: 900px;
width: 40%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.72;
    height: 20%;
    margin-top: 200px;
    
}
.logo,img{
    height: 150px;
}
.logotext{
    font-family: 'Norse Bold', Courier, monospace;
    color: white;
    font-size: 100px;
}
.paragraphs{

   position: absolute;
   top: 1%;
   left: 42%;
   
    margin-left: -20px;
    margin-right: 20px;
    margin-top: 20px;
   padding: 10px;
   background-color:white;
   font-family: 'Norse Bold';
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.forms1{
    
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

button{
    margin: 30px;
    margin-left: -0;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   background-color: #596D48;
}
.account{
    position: absolute;
    top: 97%;
    left: 2%;
}
.formss{
    display: flex;
    flex-direction: column;
  
  
   
    padding: 5px;
    
   
    
}
.formss input[type='text'],
.formss input[type='email'],
.formss input[type='number'],.formss input[type='password'],.formss select,
.formss textarea {
    
    background-color:white;
    width: 100%;
    height: initial;
    padding: 8px;
    flex: 1;
}
 .button button:hover {
    background-color: #76AEED;
  }
  .button button:active{
    background-color:purple;
  }

  .forms input:focus {
    border:2px blue ;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
 
  .section2{
    padding-left: 100px;
  
    
   
  }
 .final{
    display: flex;
 }
  


